/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 13, 2015, 2:25:06 PM
    Author     : zohaib
*/

.main-nav .logo-header {
    margin-top: 0px;
    position: absolute;
}

.home-nav {
    padding-left: 250px;
}

.util-nav li a {
    color: #bbb; 
}

.util-nav li, .util-nav li:before {
    padding: 2px 10px;
    color: #bbb;
}

.uppskattat-share {
    background: #3b5998;
    display: block;
    border-radius: 4px;
    color: #fff;
    padding: 15px 20px  !important;
    margin: 15px;
    font-size: 16px;
    text-align: center;
}

.footer {
    background:#333333;
    color:#999999;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight:100;
    padding: 50px;
    font-size: 14px;
}
.footer span {
    font-size: 14px;
}

.footer-links li a {
    font-size: 14px;

}

.menu-links {
    color: #FFF; 
    font-size:14px;
    margin-left: 15px;
}


.topmenu {
    color: #999;
    padding-left: 0px;
    font-size: 22px;
}
.topmenu::after {
    /*    content: '';
        display: block;
        height: 0;
        position: absolute;
        margin-top: -8px;
        top: 50%;
        right: 50px;
        box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
        width: 16px;*/

}

.sd-content ul li {

}

.sd-content ul .share-facebook a {

}

.share-facebook {    

}
.share-facebook  a{

}

.sharedaddy {
    display: none !important;
}

.topic-widget li .topic-name {
    text-transform: none;
}

.ajax-load-more-wrap.blue button.alm-load-more-btn {

}

.loading {

    background: url("../images/circle-loader.gif") no-repeat center center;
    width: 70px;
    height: 70px;
    margin: 6px;		            
    display: inline-block;
    z-index: 0;
    content: '';
    position: absolute;    
    overflow: hidden;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}






.buzfeed {
    margin-top: 70px;
}

.previous-btn a, .next-btn a {
    display: inline-block;
    text-align: center;
    padding: 15px;
    background: #3b5998;
    color: #fff;
    min-width: 120px;
}

.next-btn {
    text-align: right;
}

.share-pinterest {
    background: #cb2027 !important;
}

.share-pinterest:hover {
    background: #cb2027 !important;
}

.share-email {
    background: #ffba00;

}
.share-email:hover {
    background: #ffba00;
}


.bottom {
    bottom: 0;
    top: auto;
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 500;
}

.fixed .row {
    max-width: 66.0rem;
    margin: 0 auto;
}

.likt-btn {
    height: 58px;
    background-color: white;
    padding: 15px;
    border: solid 1px #000;
}

#spu-6126  {
    width: 500px !important;
    text-align: center !important;
}

.article-share-btn-bottom, .horizontal-article time {
    padding: 12px;
    font-size: 0px;
}
.article-share-btn-bottom span {
    font-size: 16px;
    font-weight: 700;
    top: -3px;
    position: relative;
}

.article-share-btn-bottom:before {
    font-size: 30px;
    padding-right: 5px;
    top: 2px !important;
}


.share-whatsapp {
    background-color: rgb(77,194,71);

}

.share-whatsapp:hover {
    background-color: rgb(77,194,71);
}
body.home .outer-content-wrapper {
    margin-top: 0px;
}

.article-share-btn:before {
    top: 8px;
}

.marquee-article {
    border: none !important;
}
.marquee-article time:before  {
    font-size: 0px !important;
}
@media only screen and (max-width:40em){
    .footer {
        padding-top: 100px;
    }

    .menu-links  {
        margin-top: 25px;
        margin-left: 0px;
    }

    .entry-content {
        padding: 0px;
    }

    .page-fb-like.mobile-like-us {
        padding: 15px;
    }


    .outer-content-wrapper {
        margin-top: 0px !important;
    }
    .bottom-article-share .twitter-article-share-wrapper {
        padding-left: 15px;
    }

    .bottom-article-share .facebook-article-share-wrapper {
        padding-right: 8px;
    }

    .article-share-btn-bottom:before {
        font-size: 40px;
        padding-right: 0px;
        left: 4px;
        top: 0px !important;


    }

    .fb-mobile-share {
        float: left;

    }
    .fb-mobile-share span {
        top: 0px !important;
    }
    .fb-mobile-share:before {
        float: left;
        font-size: 30px;
        left: 20px;
        top: 4px !important;

    }

    .article-share-btn-bottom span {
        font-size: 13px;
        font-weight: 700;
        position: relative;
        top: -10px;
        display: inline;
    }

    .bottom-fb {
        font-size: 12px;
    }

    .article-share-btn-bottom {
        padding: 10px;
    }
    .mobile-article-wrapper {
        padding: 0px !important;
    }

    .header-logo {
        position: relative;
        top: -7px;
    }
}




.small-12.columns.previous-btn.page-links a:last-child  {
    float: right;
}

.sticky-add {
    position: fixed;
    top: 90px;
}